@import '../../Sass/Mixit';

.wrapper{
    background-color: transparent;
    backdrop-filter: blur(25%);
    box-shadow: 5px 1px 20px 0px #00000073;
    width: 95%;
    margin: auto;
    @include fcs;
    h2{
        padding: 0 0 0 15px;
        @include font($f-fm,35px,400);
        margin-top: -4px;
        a{
            color: $clr-secandry; 
        }
        span{
            color: $clr-red;
        }
    }
    ul{
        @include fcs;
        li{
            padding: 10px;
            a{
                color: $clr-secandry;
                @include font($f-fj,20px,600);
                transition: .5s;
                &:hover{
                    color: $clr-red;
                    font-size: 25px;
                }
            }
        }
    }
    .icon{
        display: none;
        margin-right: 20px;
        font-size: 20px;
        color: $clr-secandry;
    }
        
}

@media (max-width:485px) {
    .pading{
        padding-bottom: 140px;
    }
    .wrapper{
        width: 100%;
        box-shadow: none;
        transition: .5s;
        ul > li{
            width: 100%;
            position: fixed;
            left: 100%;
            flex-direction: column;
        }
        ul > li:nth-child(1){
            transition: .5s;
            top: 38px;
        }ul > li:nth-child(2){
            top: calc(38px + 35 * 1px);
            transition: .8s;
        }ul > li:nth-child(3){
            top: calc(38px + 35 * 2px);
            transition: 1.1s;
        }
        ul > li:nth-child(4){
            top: calc(38px + 35 * 3px);
            transition: 1.3s;
        }
        
        .opennav > li:nth-child(1){
            left: 0%;
            background: linear-gradient(116deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(10px);
        }
        .opennav > li:nth-child(2){
            left: 0%;
            background: linear-gradient(116deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(10px);
        }
        .opennav > li:nth-child(3){
            left: 0%;
            background: linear-gradient(116deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(10px);
        }
        .opennav > li:nth-child(4){
            left: 0%;
            background: linear-gradient(116deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(10px);
        }
        .icon{
            display: block;
            cursor: pointer;
        }
    }
}